.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.dashboard-container > .section {
  display: flex;
  gap: 30px;
  height: 40vh;
}

.dashboard-container > .section > .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-top: 45px;
}

.dashboard-container > .section:nth-child(3) > .left {
  margin-top: 0;
}

.dashboard-container > .section > .left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.dashboard-container > .section > .right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
  justify-content: space-between;
}

.dashboard-container > .section > .left section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dashboard-container > .section > .left section p {
  color: var(--not-so-light-grey);
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.card-container > .card {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: var(--white);
  width: 100%;
}

.card-container > .card > .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  margin: 15px 0 0 15px;
  border-radius: 50%;
  font-size: 16px;
  background-color: var(--green);
  color: var(--white);
}

.card-container > .card > .content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 20px;
}

.card-container > .card > .content > h1 {
  font-size: 26px;
  font-weight: 600;
}

.card-container > .card > .content > p {
  font-size: 14px;
  color: var(--primary-color);
}
